<% if user_signed_in? %>
    <li>
      <%= link_to('', '', :class => 'settings', :title => 'User Settings') %>
    <li>
      <%= link_to('', destroy_user_session_path, :class => 'logout', :title => 'Logout') %>
    </li>
<% end %>