<!-- Top line begins -->
<div id="top">
  <div class="wrapper">
    <a href="/" title="" class="logo"><%= image_tag 'logo.png' %></a>

    <!-- Right top nav -->
    <div class="topNav">
      <ul class="userNav">
        <li><a href="/" title="Home" class="home"></a></li>

        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- Top line ends -->