<% flash.each do |name, msg| %>
  <div class="alert <%= name == :notice ? "alert-success" : "alert-danger" %>">
    <%= content_tag :span, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>